body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffd700
}

/* .roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} */

.header_text {
    font-family: 'Pacifico';
    font-size: 50px;
    font-weight: bold;
    color: #fe7200;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.image_container img {
    max-width: 80vw; /* 80% of viewport width */
    max-height: 80vh; /* 60% of viewport height */
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    object-fit: contain;
    z-index: -1;
}
